name: Pipeline React

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
      - name: Instalar dependencias
        run: npm ci
      - name: Ejecutar linter
        run: npm run lint
        continue-on-error: true
